.idea/*
**/*~
**/*.bak
benchmarks/**/bin/*
benchmarks/**/out/*
benchmarks/**/build/*
benchmarks/**/ref_build/*
benchmarks/**/profile/*
rake/**/compiled/**/*
Halide-master-d48fbde/include/Halide.h.gch/Halide.default.gch
Halide-master-d48fbde/include/Halide.h.gch/Halide.test.gch
*.o
Halide-master-d48fbde/.vs/**/*
Halide-master-d48fbde/.vs/slnx.sqlite
Halide-master-d48fbde/.vs/slnx.sqlite
*.db
*.sqlite
Halide-master-d48fbde/.vs/Halide-master-d48fbde/v16/.suo
